.container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

.resizeHandle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 17px;
  height: 17px;
  background: blue;
}
