.bar {
  height: 8px;
}

.barItem {
  height: 8px;
  margin-right: 2px;
}

.barItem:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.barItem:last-child {
  margin-right: 0;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.barItemDeleteButton {
  padding: 8px;
  border-radius: 0 0 30px 30px;
  background: rgba(255, 255, 255, 0.5);
  top: 8px;
}
